<div class="geral">
  <div class="div-grafico">
    <div id="chart">
      <apx-chart
        [series]="chartOptions.series!"
        [chart]="chartOptions.chart!"
        [xaxis]="chartOptions.xaxis!"
        [dataLabels]="chartOptions.dataLabels!"
        [grid]="chartOptions.grid!"
        [stroke]="chartOptions.stroke!"
        [title]="chartOptions.title!"
      ></apx-chart>
    </div>
  </div>
  <div class="div-button">
    <button routerLink="" class="btn btn1">Voltar</button>
  </div>
</div>
